[Unit]
Description=Bitbar Testrun manager service

[Service]
Type=simple
ExecStart=/bin/bash /home/bitbar/mozilla-bitbar-devicepool/bin/start_android_hardware_testing.sh
ExecStop=/bin/bash /home/bitbar/mozilla-bitbar-devicepool/bin/stop_android_hardware_testing.sh
Restart=always
WorkingDirectory=/home/bitbar/mozilla-bitbar-devicepool
User=bitbar

[Install]
WantedBy=multi-user.target
